# ==============================================================================
# IDEs and Editors
# ==============================================================================

### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace
.history/

# ==============================================================================
# System Files
# ==============================================================================

### Mac OS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
desktop.ini

### Linux ###
.fuse_hidden
.directory
.Trash-*

# ==============================================================================
# Build Tools & Dependencies (Ejemplo para Java/Maven/Gradle)
# ==============================================================================
# Si usas Maven o Gradle, es vital incluir estas carpetas:
target/
build/
.gradle/